<div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th class="info">Nombre</th>
                <th class="info">Gerente del proyecto</th>
                <th class="text-center info">Fecha de registro</th>
                <th class="text-center info">Acciones</th>
            </thead>
            <tbody id="datos-tabla-proyecto">
    
            </tbody>
        </table>
    </div>
    </div>
    <!--pagination-->
    <div class="text-right">
    <div class="paginacion">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
        <!--/pagination-->